.Title {
  font-size: var(--title-size);
  margin-bottom: 1rem;
}

.Form {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--bg-componets-2), 0.2);;
  backdrop-filter: blur(var(--blur));
  padding: 1rem;
  border-radius: 10px;

  gap: .5em;

  .Title {
    font-size: 1.5rem;
    margin: 0;
  }

  .Button {
    width: 100%;
    transition: .2s linear;

    &:hover {
      background-color: rgba(var(--bg-componets), .5);
    }

    &:active {
      background-color: rgba(var(--bg-componets-2), .5);
    }
  }
}