.Collapse {
  .Title {
    height: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
  }

  .Children {
    overflow: hidden;
  }
}