.TextInput {
  background-color: rgba(var(--bg-componets-2), .5);;
  backdrop-filter: blur(var(--blur));
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px black solid;
  border-radius: 5px;
}