.Title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Container {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;

  .Stats{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    &>* {
      flex: 1;
    }
  }

  .Form{
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--bg-componets-2), 0.2);;
    backdrop-filter: blur(var(--blur));
    padding: 1rem;
    border-radius: 10px;

    gap: .5em;

    .Title {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .Button {
    width: 100%;
    transition: .2s linear;
    &:hover{
      background-color: rgba(var(--bg-componets),.5);
    }

    &:active{
      background-color: rgba(var(--bg-componets-2),.5);
    }
  }
}