$top-left-transition: top 0s, left 0s;

#menu {
  z-index: 999998;
  transition: all .1s ease-out, top 0s, left 0s;
  position: fixed;
  transform: translateX(-25%);
  opacity: 0;
  display: grid;
  width: 200px;
  background-color: coral;
  //backdrop-filter: blur($blur-effect);
  border-radius: 5px;
  box-shadow: 0 0 10px #0008;
  overflow: hidden;
  padding: 10px 0;
  pointer-events: none;

  &.show {
    transition: all .5s cubic-bezier(0, .5, 0, 1), $top-left-transition;
    opacity: 1;
    transform: none;
    pointer-events: all;
  }

  button {
    padding: 5px 10px;
    background: none;
    border: none;
    display: flex;
    align-items: center;

    .hotkey {
      margin-left: auto;
    }

    .name {
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      font-size: 24px;
    }
  }

  button:hover {
    background-color: #dc6d45;;

    .hotkey {
      margin-left: auto;
    }

    .name {
    }

    svg {
      margin-right: 5px;
    }
  }

  button:active {
    .hotkey {
      margin-left: auto;
    }

    .name {
    }

    svg {
      margin-right: 5px;
    }
  }

  .ClipLine {
    height: 2px;
    margin: 5px 8px;
    background-color: #fff;
  }
}