.main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  & > *:not(:first-child) {
    margin-top: 3rem;
  }
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100vw;
  height: 20vh;
  user-select: none;
  position: relative;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .Title {
    font-size: 6rem;
    color: white;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
}

.Members {
  margin: auto;

  .Title {
    font-size: 3rem;
    text-align: center;
  }

  .Members {
    width: 80vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    &>div{
      flex: 1;
      &:hover{
        transition: .2s linear;
        background-color: rgba(var(--bg-componets), 0.8);
      }
    }
  }
}

.c{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;

  margin-top: 0 !important;

  align-items: center;
  justify-content: center;


  .popup{
    width: 80vw;
    display: flex;
    transition: none;
  }
  z-index: 10;
}

@media (max-width: 1000px) {
  .Members {
    .Members {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (min-aspect-ratio: 16/9) {
  .Hero iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .Hero iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}