.StatusCard {
  display: flex;
  flex-direction: column;
  .Info {
    flex-grow: 1;
    width: 100%;

    padding: 1rem;
    display: grid;
    .Name {
      font-size: var(--sub-title-size);
      grid-area: 1 / 1 / 2 / 2;
    }

    .Used {
      font-size: var(--sub-title-2-size);
      grid-area: 2 / 1 / 3 / 2;
    }

    .Icon {
      grid-area: 1 / 2 / 3 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      width: 4.5rem;
      height: 4.5rem;
      background-color: rgb(var(--bg-componets-2));
      fill: rgb(var(--fg-1));
      border-radius: 50%;
      padding: 1rem;
    }
  }

  .Bar {
    background-color: white;
    height: 10px;
  }
}