.Title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.Stats{
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  &>* {
    flex: 1;
  }
}

.Servers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .List {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.User {
  backdrop-filter: blur(var(--blur));
  background-color: rgba(var(--bg-componets),.5);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;

  &>*{
    flex: 1;
  }

  .Button{
    flex: .5;

    &:hover{
      background-color: rgba(var(--bg-componets),.5);
    }

    &:active{
      background-color: rgba(var(--bg-componets-2),.5);
    }
  }
}

@media (max-width: 1200px) {
  .Stats{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .Stats{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
