.ServerLink {
  min-height: 4.5rem;
  padding: 1rem;
  display: flex;
  backdrop-filter: blur(var(--blur));
  background-color: rgba(var(--bg-componets), .5);
  width: 100%;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  cursor: pointer;

  .Title {
    display: flex;
    flex-direction: column;
    .Name {
      font-size: 1.4rem;
      min-width: 50px;
    }
    .Desc {
      font-size: .7rem;
      min-width: 50px;
    }
  }

  .Buttons {
    margin-left: auto;
    display: flex;

    .Button {
      flex: 1;
      color: rgb(var(--fg-1));
      border-radius: var(--border-radius);

      cursor: pointer;
      justify-content: center;
      padding: .6rem;

      display: flex;
      text-align: center;
      white-space: nowrap;

      align-items: center;
      font-size: 1rem;
      line-height: 1.1;
      position: relative;
      vertical-align: top;

      user-select: none;

      background-color: rgb(var(--bg-componets), .8);

      &:hover {
        background-color: rgb(var(--bg-componets-2), .8);
      }

    }
  }

  .Arrow {
    font-size: 1.2rem;
    user-select: none;
    margin-left: .2rem;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:hover {
    background-color: rgb(var(--bg-componets-2), .5);
  }
}