.SideBar {
  position: absolute;
  top: var(--navbar-height);
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &.fh {
    top: 0;
    height: 100vh;
    padding-top: var(--navbar-height);
    backdrop-filter: blur(var(--blur));
    background-color: rgba(var(--bg-componets), .3);
  }

  .UserItem {
    gap: 1rem;

    .User {
      display: flex;
      align-items: center;
      padding: .5rem;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      background-size: cover;
    }

    .Info {
      display: flex;
      flex-direction: column;

      .Name {
        font-size: var(--sub-title-size);
      }
    }
  }

  .Item {
    display: flex;
    font-size: var(--sub-title-2-size);
    align-items: center;
    padding: .5rem;
    border-radius: var(--border-radius);
    user-select: none;
    cursor: pointer;
    width: 100%;

    transition: linear .1s;

    .Icon {
      display: flex;
      width: 1.5rem;
      margin-right: .5rem;
      fill: rgb(var(--fg-1));
      align-items: center;
    }

    &:hover {
      background-color: rgba(var(--bg-componets-2), .8);
    }

    &:active {
      background-color: rgb(var(--bg-componets-2));
    }
  }

  .Logout {
    margin-top: auto;
  }

  .MadeBy {
    position: absolute;
    bottom: 0;
  }
}