.ServerLink {
  padding: .6rem;
  display: flex;
  backdrop-filter: blur(var(--blur));
  background-color: rgba(var(--bg-componets),.5);
  width: 100%;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;

  .Name {
    font-size: 1.5rem;
  }

  .Buttons {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .Button {
      flex: 1;
      color: rgb(var(--fg-1));

      cursor: pointer;
      justify-content: center;
      padding: .6em;

      display: flex;
      text-align: center;
      white-space: nowrap;

      align-items: center;
      font-size: 1rem;
      line-height: 1.5;
      position: relative;
      vertical-align: top;

      user-select: none;

      background-color: rgb(var(--bg-componets));

      &:hover {
        background-color: rgb(var(--bg-componets-2));
      }
    }
  }

  .Arrow {
    font-size: 1.2rem;
    user-select: none;
    margin-left: auto;
  }

  &:only-child {
    border-radius: 10px !important;
  }

  &:first-child {
    border-radius: 10px 10px 0 0;
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}